<% obj.each do |article| %>
    
    <div class="row">
    
        <div class="col-xs-8 col-xs-offset-2">
        
            <div class="well well-lg">
            
                <div class="article-title">
                    <%= link_to article.titulo, article_path(article) %>
                </div>
                
                <div class="article-body">
                    <%= truncate(article.descricao, length: 100) %>
                </div>
                
                <div class="article-meta-details">

                <small>Criado por: <%= article.usuario.username if article.usuario%>,
                
                <%= time_ago_in_words(article.created_at) %> atrás,
                
                última modificação: <%= time_ago_in_words(article.updated_at) %> atrás.</small>
                
                </div>
                <% if logged_in? && current_user == article.usuario %>
                    <div class="article-actions">
                    
                        <%= link_to "Editar", edit_article_path(article), class: "btn btn-xs btn-primary" %>
                        
                        <%= link_to "Excluir", article_path(article), method: :delete,
                        
                        data: { confirm: "Você tem certeza que deseja excluir o artigo?"},
                        
                        class: "btn btn-xs btn-danger" %>
                
                </div>
                <% end %>
            
            </div>
        
        </div>
    
    </div>

<% end %>